:root {
  --jet: #2a2b2eff;
  --davys-gray: #5a5a66ff;
  --cambridge-blue: #a4c2a8ff;
  --light-green: #aceb98ff;
  --screamin-green: #87ff65ff;
}

body {
  background-color: var(--jet);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 8vw;
  margin: 30px 60px;
  padding: 10px 10px;
  text-align: center;
  border-radius: 15px;
  background-color: var(--davys-gray);
  color: white;
  font-weight: normal;
}

.palindrome-container {
  background-color: var(--davys-gray);
  margin: 20px 60px;
  padding: 15px 15px;
  border-radius: 15px;
}

#check-btn {
  width: 50%;
  font-size: 4vw;
  padding: 15px 10px;
  border-radius: 10px;
  display: block;
  margin: 20px auto;
  background-color: var(--cambridge-blue);
  color: white;
  border: none;
  cursor: pointer;
}

#check-btn:hover {
  background-color: var(--light-green);
}

#text-input {
  width: 70%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  display: block;
  margin: auto;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}

#result {
  color: white;
  display: block;
  text-align: center;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: 4vw;
}

label {
  color: white;
  display: block;
  text-align: center;
  padding: 10px;
}
